<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include("partials/navegation") %>
    
    <!-- Main Content -->
    <header class="container vh-100 d-flex justify-content-center aling-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
             <img src="/img/uk-pfp.jpg" alt="" class="w-30">
             <h1 class="display-1 my-5 text-uppercase fw-bold">Zebas</h1>
             <a href="/about" class="btn btn-dark">About</a>
        </div>
       
        
    </header>

    <%- include("partials/footer") %>
</body>
</html>